.header {
  background-color: #333; /* Adjust background color as needed */
  color: #fff; /* Text color */
  padding: 10px 0; /* Add padding to the top and bottom */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo svg {
    width: 48px;
    height: auto;
  }
}